
#msgBienvenue{
    font-size: 46px;
    color : #455868;
    text-align: center;
    margin-bottom: 50px;
}

.intro {
    text-align: center;
    color : #455868;
    font-size: 26px;
}



#mapid{
    z-index:1;
}

header{
    margin-bottom: 40px;
}

.disappear{
    display: none;
}